<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Tarea</title>
</head>
<body>
<h1>Detalle de la Tarea: {{ object.titulo }}</h1>

<p><strong>Descripción:</strong> {{ object.descripcion }}</p>

<p><strong>Completada:</strong> {% if object.completada %}Sí{% else %}No{% endif %}</p>

<p><strong>Fecha de creación:</strong> {{ object.fecha_creacion|date:"d/m/Y" }}</p>

<p><strong>Fecha de recordatorio:</strong> {% if object.fecha_recordatorio %}
    {{ object.fecha_recordatorio|date:"d/m/Y" }}
{% else %}
    No hay
{% endif %}</p>
</html>

